a{
position: relative;
}

a:hover{
background-color: transparent;
z-index: 50;
}

a span{ 
position: absolute;
background-color: lightgray;
padding: 2px;
visibility: hidden;
}

a span img{ 
position: fixed; /* or absolute */
right: 0.5%;
bottom: 2%;
width:35em;
height:21em;
max-width: 99%;
}


a:hover span{ 
visibility: visible;

}
